
.Details {
    width: 70%;
    margin: auto;
}

.Details .image {
    display: block;
    margin: 0 auto;
    padding: 15px;
}
.Details h1 {
    text-align: center;
    margin: 5px 0px 5px 0px;
    font-family: blacklettersh;
}

  
  @font-face {
    font-family: blacklettersh;
    src: url(../font/BLACEB__.TTF);
  }
.demo-link {
    margin: 10px 0px 10px 0px;
}
.demo-button {
    background-image: linear-gradient(to bottom, silver, white);
    display: table;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    margin: auto;
}
.demo-button:hover {
    opacity: 0.5;
}

.Details .content {
    display: flex;
}

.Details .text {
    text-align: justify;
}

.Details img {
    width: 50%;
}

.backtohome {
    background-image: url(undo-icon.svg);
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
}

ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .Details .content {
        flex-direction: column;
    }
}