.Details .image {
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.Details h1 {
    margin: 5px 0px 5px 0px;

    text-align: center;
    font-family: blacklettersh;
}

@font-face {
    font-family: blacklettersh;
    src: url(../font/BLACEB__.TTF);
}

.demo-link {
    margin: 10px 0px 10px 0px;
}

.demo-button {
    display: table;
    margin: auto;
    padding: 10px;

    background-image: linear-gradient(to bottom, silver, white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;

    font-weight: bold;
}

.demo-button:hover {
    opacity: 0.5;
}

.Details .content {
    display: flex;
}

.Details .info {
    width: 100%;

    text-align: justify;
}

.Details img {
    border-radius: 35px;
}

.backtohome {
    width: 25px;
    height: 30px;

    background-image: url(undo-icon.svg);
    background-repeat: no-repeat;
}

ul {
    padding: 10px 0px 10px 0px;

    list-style: none;
}

.tech-items {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;

    background-color: white;

    border: 1px solid #ddd;
}

.tech-items:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.tech-items:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media (max-width: 600px) {
    .Details {
        padding: 10px;
    }
    .Details .content {
        flex-direction: column;
    }
}