.menu {
    width: 80%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px 5px 0px;
}

.menu-item {
    padding: 0px 15px 0px 15px;
    margin: 10px 0px 0px 0px;
}

.middle {
    border: 1px solid #ebebeb;
    border-top: 0;
    border-bottom: 0;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-container {
    text-align: center;
}

.neon-text {
    overflow: hidden;
    width: 120px;
}

.neon-name {
    animation: teleport 5s linear infinite;
}
@keyframes teleport {
    from {transform: translateX(-100%); }
    to {transform: translateX(100%); }
}


a {
    text-decoration: none;
}
a:link {color: inherit;}
a:active {color: inherit;}
a:visited {color: inherit;}
a:hover {
    color: inherit;
}

.menu-item div {
    padding: 5px 0px 5px 0px;
}

.home {
    transition: background .5s ease-in-out;
    border-radius: 5px;
}

.home:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}

.about {
    transition: background .5s ease-in-out;
    border-radius: 5px;
}
.about:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}

.skills {
    transition: background .5s ease-in-out;
    border-radius: 5px;
}

.skills:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}
