nav {
    position: sticky;
    top: 20px;
    width: 100%;
    z-index: 1;

    border-bottom: 1px solid $silver-color;

    background-color: $lightergrey-color;
}

.menu {
    width: 80%;
    margin:  0 auto;
    padding: 0px 0px 5px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.menu-item {
    padding: 0px 15px 0px 15px;
    margin: 10px 0px 0px 0px;
}

.middle {
    border: 1px solid $lightergrey-color;
    border-top: 0;
    border-bottom: 0;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-container {
    text-align: center;
}

.menu-container a {
    display: inline-block;

    color: inherit;
    text-decoration: none;
}

.menu-container a::after {
    display: block;

    border-bottom: solid 3px $black-color;

    transform: scaleX(0);
    transition: transform 250ms ease-in-out;

    content: '';
}

.menu-container a:hover::after {
    transform: scaleX(1);
}

.menu-item div {
    padding: 5px 0px 5px 0px;
}


@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr;
    }
    .screen {
        width:500px;
    }
}

@media (max-device-width: 480px) {
    .menu {
        grid-template-columns: 1fr;
        
    }
    .screen {
        width:100vw;
    }
}
