.menu {
    width: 80%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px 5px 0px;
    justify-content: center;
    align-items: center;
}

.menu-item {
    padding: 0px 15px 0px 15px;
    margin: 10px 0px 0px 0px;
}

.middle {
    border: 1px solid #ebebeb;
    border-top: 0;
    border-bottom: 0;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-container {
    text-align: center;
}

.screen {
    width: 600px;
    background-image: url(offLight.png);
    overflow: hidden;
    margin: auto;
}

.led-screen {
    animation: teleport 5s linear infinite;
    width: 600px;
}
@keyframes teleport {
    from {transform: translateX(100%); }
    to {transform: translateX(-100%); }
}


a {
    text-decoration: none;
}
a:link {color: inherit;}
a:active {color: inherit;}
a:visited {color: inherit;}
a:hover {
    color: inherit;
}

.menu-item div {
    padding: 5px 0px 5px 0px;
}

.menu .home {
    transition: background .5s ease-in-out;
    border-radius: 5px;
}

.menu .home:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}

.menu .about {
    transition: background .5s ease-in-out;
    border-radius: 5px;
}
.menu .about:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}

.menu .menu-skills {
    transition: background .5s ease-in-out;
    border-radius: 5px;
}

.menu .menu-skills:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}

@media only screen and (max-device-width: 768px) {
    .menu {
        grid-template-columns: 1fr;

    }
    .screen {
        width:500px;
    }
}

@media only screen and (max-device-width: 480px) {
    .menu {
        grid-template-columns: 1fr;
        
    }
    .screen {
        width:300px;
    }
}
