.menu {
    display:flex;
}
.menu > .menu-item {
    flex: 1;
}

.menu-container {
    display: flex;
}
.menu-container > .item {
    flex: 1;
}

.neon-text {
    overflow: hidden;
    width: 120px;
}

.neon-name {
    animation: marquee 5s linear infinite;
}
@keyframes marquee {
    from {transform: translateX(-100%); }
    to {transform: translateX(100%); }
  }

.home {
    background-image: url(home-icon-black.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.home:hover {
    background-image: url(home-icon-red.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

.about {
    background-image: url(man-icon-black.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.about:hover {
    background-image: url(man-icon-red.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

.skills {
    background-image: url(skill-icon-black.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.skills:hover {
    background-image: url(skill-icon-red.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}