.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skill-item {
    margin: auto;
}
.skill-item h3 {
    text-align: center;
    font-family: blacklettersh;
    margin: 10px 0px 10px 0px;
}
.skill-item img {
    padding: 15px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

@font-face {
    font-family: blacklettersh;
    src: url(../font/BLACEB__.TTF);
  }

@media (max-width: 480px) {
    .skills {
        grid-template-columns: 1fr 1fr;
    }
    .skill-item img {
        width: 120px;
        height: 120px;
    }
}