img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item-content {
  padding: 40px;
} 

@media (max-width: 768px) {
  .containter {
    grid-template-columns: 2fr;
  }
}
@media (max-width: 480px) {
  .containter {
    grid-template-columns: 1fr;
  }
  .item-content {
    padding: 40px 40px 0px 40px;
  }
}

.projectItem {
  align-self: center;
  justify-self: center;
}