* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  // min-height: 100%;
  // width: 100%;
  // margin: 0 auto;
  // display: grid;
  // grid-template-rows: auto 1fr auto;
}

.header h1 {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 0px 0px;
  width: 80%;
  margin: 0 auto;

  border-style: dashed none dashed none;
  border-width: thin;

  font-family: blacklettersh;
}

@font-face {
  font-family: blacklettersh;
  src: url(./font/BLACEB__.TTF);
}



