.App {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}
.containter {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
  flex: 1;
  flex-basis: 120px;
  padding: 30px;
  border: 1px solid silver;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: green;
  opacity: 0.6;
}

.item:hover .overlay {
  
  opacity: .6;
  bottom: 0;
}



