* {
  margin: 0;
}

.header h1 {
  text-align: center;
  margin: 10px 0px 0px 0px;
  border-style: dashed none dashed none;
  width: 80%;
  margin: 0 auto;
  border-width: thin;
  padding: 5px 0px 5px 0px;
  font-family: blacklettersh;
}

@font-face {
  font-family: blacklettersh;
  src: url(./font/BLACEB__.TTF);
}

/* .App {
  text-align: center;
}
a {
  text-decoration: none;
} */



 /* .overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: green;
  opacity: 0.6;
} */
/* 
.item-content:hover .overlay {
  
  opacity: .6;
  bottom: 0;
} */



