* {
  margin: 0;
  box-sizing: border-box;
}

.header h1 {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 0px 0px;
  width: 80%;
  margin: 0 auto;

  font-family: blacklettersh;
}

@font-face {
  font-family: blacklettersh;
  src: url(./font/BLACEB__.TTF);
}



