body {
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dadce1;
}

main {
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}


