 /*.item-content h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-family: blacklettersh;
}

@font-face {
  font-family: blacklettersh;
  src: url(./font/BLACEB__.TTF);
} */

img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item-content {
  padding: 40px;
} 

/* .box {
width: 100%;
height: 31vw;
box-sizing: border-box;
color: white;
padding: 20px;
} */

@media (max-width: 768px) {
  .containter {
    grid-template-columns: 2fr;
  }
}
@media (max-width: 480px) {
  .containter {
    grid-template-columns: 1fr;
  }
  /* .box {
    height: 50vw;
    padding: 0;
  } */
  .item-content {
    padding: 40px 40px 0px 40px;
  }
}

.projectItem {
  align-self: center;
  justify-self: center;
}