footer {
    position:-webkit-sticky; 
    position:sticky;
    bottom:0;

    background-color: white;
}

.footer {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: space-around;
}

.footer > .item {
    margin: 10px 0px 0px 0px;
}

.footer a  {
    display: block;
    width: 48px;
    height: 48px;
}

.linkedin {
    width: 48px;
    height: 48px;

    background-image: url(linkedin-icon-black.svg);

    background-repeat: no-repeat;
}

.linkedin:hover {
    width: 48px;
    height: 48px;

    background-image: url(linkedin-icon-silver.svg);
    background-repeat: no-repeat;
}

.github {
    width: 48px;
    height: 48px;

    background-image: url(github-icon-black.svg);
    background-repeat: no-repeat;
}

.github:hover {
    width: 48px;
    height: 48px;

    background-image: url(github-icon-silver.svg);
    background-repeat: no-repeat;
}

.email {
    width: 48px;
    height: 48px;

    background-image: url(email-icon-black.svg);
    background-repeat: no-repeat;
}
.email:hover {
    width: 48px;
    height: 48px;

    background-image: url(email-icon-silver.svg);
    background-repeat: no-repeat;
}