.footer {
    display: flex;
}

.footer > .item {
    flex: 1;
}

.linkedin {
        background-image: url(linkedin-icon-black.svg);
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
}
.linkedin:hover {
        background-image: url(linkedin-icon-red.svg);
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
}
.github {
    background-image: url(github-icon-black.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.github:hover {
    background-image: url(github-icon-red.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.email {
    background-image: url(email-icon-black.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.email:hover {
    background-image: url(email-icon-red.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}