.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 65%;
    margin: auto;
}


.aboutme-item h1 {
    text-align: center;
    font-family: blacklettersh;
}
.aboutme p {
    text-align: justify;
}
.aboutme h2 {
    text-align: center;
}

@media (max-width: 768px) {
    .aboutme {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .aboutme {
        grid-template-columns: 1fr;
        width: 70%;
    }
}
  
  @font-face {
    font-family: blacklettersh;
    src: url(../font/BLACEB__.TTF);
  }
/* main {
    display: grid;
    grid-gap: 8%;
    grid-template-columns: repeat( 5, 1fr);
} */

/* article {
    grid-column: 1 / span 5;
}

.aboutme img {
    display: block;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 34%;
    padding: 15px;
}
.aboutme p {
    text-align: justify !important;
    text-justify: inter-word;
} */

/* @media (max-width: 480px) {
    .aboutme {
        width: 70%;
    }
    .aboutme p {
        margin: 10px 0px 0px 0px;
    }
    .aboutme img {
        width: 70%;
        height: 30%;
        float: none;
        margin: 0 auto;
    }
} */