.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 65%;
    margin: auto;
}


.aboutme-item h1 {
    text-align: center;
    font-family: blacklettersh;
}
.aboutme p {
    text-align: left;
}

@media (max-width: 768px) {
    .aboutme {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .aboutme {
        grid-template-columns: 1fr;
        width: 70%;
    }
}
  
  @font-face {
    font-family: blacklettersh;
    src: url(../font/BLACEB__.TTF);
  }