.aboutme {
    margin: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}

.aboutme img {
    border-radius: 10px;
}

.aboutme-item h1 {
    text-align: center;
    font-family: blacklettersh;
}

.aboutme p {
    padding: 15px;

    text-align: left;
}

@media (max-width: 800px) {
    .aboutme {
        grid-template-columns: 1fr;
    }
}

@font-face {
    font-family: blacklettersh;
    src: url(../font/BLACEB__.TTF);
}